<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Maxxing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="form-container" class="container">
        <h1>Resume Maxxing</h1>
        <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">

            <label>Upload your Resume</label>
            <input type="file" name="resume_file"
                accept=".docx,application/vnd.openxmlformats-officedocument.wordprocessingml.document" required>
            <label>GitHub Link</label>
            <input type="url" name="github_link" placeholder="https://github.com/username" required>
            <label>Job Description</label>
            <textarea name="job_description" placeholder="Paste the full job description here..." required></textarea>
            <label>Other Info(Optional)</label>
            <input type="file" name="text" accept=".txt, text/plain">

            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="loading-container" class="container" style="display: none;">
        <h1>Analyzing Your Profile</h1>
        <p>This may take a moment. Please wait...</p>
        <div class="spinner"></div>
    </div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function () {
            // Hide the form container
            document.getElementById('form-container').style.display = 'none';
            // Show the loading container
            document.getElementById('loading-container').style.display = 'block';
        });
    </script>
</body>

</html>